<div class="d-flex align-items-center justify-content-center whole-body">

<h1>&nbsp;&nbsp; &nbsp;  TO DO LIST &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h1>  <%= link_to 'Add To Do', articles_new_path, class: "btn btn-primary far fa-plus-square" %>

</div>
<div class="d-flex container align-items-center justify-content-center">
<div class = " col-sm-6  align-items-center text-center ">
<table class="table">
    <thead>
    <tr>
      <%# <th>ID</th> %> 
        <th scope="col">Title</th>
        <th scope="col">Notes</th>
        </tr>
    </thead>
<tbody>
<% @articles.each do |article| %>
<tr class="table">
    <%#<td> <%= article.id %> <%#% </td>  %> 
    <td> <%= article.name %> </td>
    <td> <%= article.body %> </td>
    <td>
        <%= link_to '', article_edit_path(article.id), class: "btn btn-primary fas fa-edit" %>
    </td>
     <td>
        <%= link_to '', article_delete_path(article.id),class: "btn btn-danger fas fa-trash-alt",
            method: :Delete, 
            data:{confirm: 'Are you sure to delete?'}
         %>
    </td>

</tr>
    <% end %>
</tbody>
</table>
</div>
</div>
