<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Body</th>
        </tr>
    </thead>
<tbody>
<% @articles.each do |article| %>
<tr>
    <td> <%= article.id %> </td>
    <td> <%= article.name %> </td>
    <td> <%= article.body %> </td>
    <td>
        <%= link_to 'Edit', article_edit_path(article.id) %>
    </td>
     <td>
        <%= link_to 'Delete', article_delete_path(article.id),
            method: :Delete, 
            data:{confirm: 'Are you sure to delete?'}
         %>
    </td>

</tr>
    <% end %>
</tbody>
</table>

